*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #000;
    color: white;
    overflow: hidden;
}

.main{
    display: flex;
    height: 100vh;
}

.sidebar{
    background-color: #000;
    width: 340px;
    border-radius: 1rem;
    margin: 10px;
}

.music-content{ 
    background-color: #121212;
    flex: 1;
    overflow: auto;
    border-radius: 1rem;
    margin-top: 10px;
    margin-right: 1.5rem;
}

.music-player{
    background-color: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
}

a{
    text-decoration: none;
    
}

.nav{
    display: flex;
    flex-direction: column;
    height: 100px;
    background-color: #121212;
    border-radius: 1rem;
    justify-content: center;
    padding: 0.5rem 0.75rem;
}

.nav-options{
    line-height: 2.5rem;
    background-color: #121212;
    opacity: 0.7;
    padding: 0.5rem 0.75rem 0.75rem;
}

.nav-options:hover{ 
    opacity: 1;
}

.nav-options a{
    font-size: 1rem;
    background-color: #121212;
    margin: 0.5rem;

}

.nav-options i{
    font-size: 1.25rem;
    background-color: #121212;
}

.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 10px;
    padding: 0rem 0.5rem 0.5rem;
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    padding: 0.5rem 1rem;
}

.lib-options{
    background-color: #121212;

}

.lib-options img{
    margin-right: 0.75rem;
}

.icons{
    background-color: #121212;
    font-size: 1.25rem;

    
}

.icons i {
    margin: 0.75rem;
    opacity: 0.7;
}

.icons i:hover{
    opacity: 1;
}

.lib-box{
    border-radius: 1rem;
    background-color: #121212;
}

.box{
    background-color: #242424;
    padding: 1rem 1.25rem;
    margin: 0.5rem 0rem 1rem 0rem;
    height: 7rem;
    border-radius: 1rem;
}

.box-p1{
    font-size:1rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.box-p2{
    font-size: 0.75rem;
    opacity: 0.9;
    margin-bottom: 1.2rem;
}

.badge{
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 100px;
    padding: 0.7rem 0.9rem 0rem 0.9rem;
    font-size: 0.8rem;
    width: fit-content;
    height: 1.6rem;
    margin-top: 0.5rem;
    font-weight: 600;

}
.badge:hover{
    transform: scale(1.05);
    transition-duration: 0.3s;
}

.sticky-nav{
    position: sticky;
    top: 0;
    background-color:rgba(0, 0, 0, .5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    z-index: 1;

} 

.sticky-nav-icons{
    margin-left: 0.75rem;
}

.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}
.dark-badge{
    background-color: #000;
    color: white;
    padding: 0.4rem;
}

.nav-item{
    margin-right: 1rem;
}

@media (max-width : 1000px) {
    .hide{
        display: none;
    }
}

.cards{
    padding: 0 1.5rem 0 1.5rem;
    background-color: #121212
}

.card{
    background-color: #242424;
    width: 10rem;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.cards-container{
    display: flex;
    background-color: transparent;
    flex-wrap: wrap;

}

.card-img{
    width: 100%;
    border-radius: 0.5rem;
}
.card-title{
    font-weight: 650;
}
.card-content{
    font-size: 0.8rem;
    opacity: 0.7;
}

.footer{
    height: 300px;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    border-top:1px solid white;
    width: 90%;
    height: 50%;
    opacity: 0.25;
    background-color: #121212;
    
}